body {background-color: #717A77;
		background-image: url("images/bg.jpg");
		background-size: 1000px 1000px;
		color: yellow;
		}
.login {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
}
.login h3 {
		text-align: center;
		font-size: 40px;
		font-family: sans-serif;
		color: #D4F58C;
}
.login h5 {
		font-size: 25px;
		font-family: sans-serif;
		color: white;
}
.login h4 {
		font-size: 20px;
		text-align: center;
		font-family: sans-serif;
		color: #B9770E;
		}
.login input {
		display: inline-block;
		width: 300px;
		height: 30px;
		padding: 10px;
		font-size: 15px;
		font-family: sans-serif;
		background-color: black;
		border: 1px solid white;
		color: white;
}

.signup a:link {color: white;
	text-decoration: underline;}
.signup a:visited {color: black;}
.signup a:hover {
		 color: white;
		 text-decoration: underline;}
.signup a:active {color: black;}


